@import "_ctx.css";

:root {
    --rhythm-1: var(--step--1); /* Default: step-0 */
    --rhythm-2: var(--step-0); /* Default: step-1 */
    --rhythm-3: var(--step-1); /* Default: step-2 */
    --rhythm-4: var(--step-1); /* Default: step-3 */
}

/* Global styles */
body {
    /* font-family: "Questrial", system-ui, sans-serif; */
    margin-block-start: 0;
    overflow-x: hidden;
}

img,
picture,
video {
    display: block;
}

main > p:has(> iframe:only-child) {
    margin-block: var(--step-6);
}

main > p > iframe:only-child {
    width: 100%;
}

:where(a, button, label, span, p, li, dt, dd, th, td, code, summary) svg {
    height: 1em;
    width: 1em;
}
:where(a, button, label, span, p, li, dt, dd, th, td, code, summary)
    svg.icon:not(.right) {
    margin-inline-end: 0.25rem;
}

/* General Layout */
body {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
body > * {
    width: 100%;
}
main > section {
    margin-block: var(--step-6);
}

/* Navigation */
/* A little bit of reset of default ctx.css styles */
body > header {
    /* padding-block-end: initial; */
    border-block-end: initial;
}
body > header nav ul {
    /* all: initial; */
    /* align-items: center; */
    align-items: initial;
    /* gap: var(--gap-nav, var(--rhythm-1, 1rem)); */
    gap: 1em;
}
/* Custom nav styles */
body > header {
    & li {
        margin-inline: 0;
    }
    & :is(a, abbr) {
        text-decoration: none;
        color: inherit;
    }
    & a[aria-current] {
        font-weight: bold;
        color: var(--color-text__strong);
    }
}
body > header,
body > header nav {
    display: flex;
    flex-wrap: nowrap;
    gap: 2rem;
    justify-content: space-between;
    align-items: center;
}
body > header nav {
    align-items: center;
    overflow: hidden;
    flex-grow: 1;
}
body > header ul {
    display: flex;
    flex-wrap: nowrap;
    /* align-items: center; */
}

body > header * {
    /* align-items: center;
  display: flex;
  flex-wrap: nowrap; */
}
body > header #main-nav {
    /* height: 3rem; */
}
body > header .nav-logo {
    margin-inline-end: auto;
    flex-shrink: 0;
}
/* body > header .lang-nav-ul {
  flex-wrap: nowrap;
  gap: 0.5rem;
} */
body > header .lang-nav-details {
    inline-size: initial;
    margin: 0;
    position: relative;
    background: white;
    & > * {
        padding-inline: 0.5rem;
        text-align: center;
    }
}
body > header .lang-nav-details summary {
    /* list-style-type: "⬇ "; */
    list-style-type: none;
    font-weight: bold;
    color: var(--color-text__strong);
    border-bottom: solid 1px var(--color-text__strong);
}
body > header .lang-nav-details summary::after {
    /* font-size: 0.8rem; */
    /* content: "⬇"; */
}
body > header .lang-nav-details .content {
    background-color: var(--color-bg);
    position: absolute;
    top: 100%;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#main-nav,
.nav-logo,
.lang-nav-ul,
body > header li,
body > header img,
body > header picture {
    max-height: 3rem;
    width: auto;
}

body > header.full-bleed-before {
    z-index: 1000;
    position: sticky;
    top: 0;
    background: inherit;
}
body > header::before {
    /* box-shadow: 0 0 0.5rem hsl(0 0% 0% / 0.3); */
    animation: navShadow linear forwards;
    animation-timeline: view(block);
    /* animation-timeline: view(); */
    animation-range-start: 100vh;
    animation-range-end: 200vh;
}
@keyframes navShadow {
    100% {
        box-shadow: 0 0.5rem 0.5rem hsl(0 0% 0% / 0.05);
        /* border-bottom: solid 5px red; */
    }
}

/* Footer */
body > footer {
    border-block-start: initial; /* Remove default ctx.css border */
    margin-block-start: auto;
    padding: 2em;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    font-size: var(--step--1);
}
body > footer .infos {
    max-width: var(--width-max);
    margin-inline: auto;
    width: 100%;
    /* justify-items: flex-end; */
    --width-column-min: 12rem;
}
body > footer a {
    color: inherit;
}

/* Recurring Page Elements Layout */
/* Large horizontal images */
main > p:not(:first-child):has(> picture:only-child),
main > p:not(:first-child):has(> img:only-child),
main > img:not(:first-child) {
    max-width: var(--width-max);
    margin-block: var(--step-6);
}
main > p:not(:first-child) > picture:only-child,
main > p:not(:first-child) > img:only-child,
main > img:not(:first-child) {
    aspect-ratio: 3;
    object-fit: cover;
}

/* Top illustration */
main > p:first-child:has(> picture:only-child),
main > p:first-child:has(> img:only-child) {
    padding-inline: 2rem;
}
main > p:first-child > picture:only-child,
main > p:first-child > img:only-child {
    max-width: 15rem;
    margin-inline: auto;
}
main > img:first-child {
    padding-inline: 2rem;
    max-width: 19rem;
    margin-inline: auto;
}

main > h1 {
    text-align: center;
}

/* Large message */
main > section.share-cta {
    font-size: var(--step-2);
    background-color: #87855c;
    color: #fff;
    padding-block: 2rem;
}
main > section.share-cta p {
    text-align: center;
    text-wrap: balance;
}

/* Callout */
.callout {
    max-width: var(--width-prose);
    padding: 1rem;
    border: 2px dotted #c09d74;
    text-wrap: balance;
    text-align: center;
}

/* Button */
.btn {
    text-decoration: none;
    color: #87855c;
    text-transform: uppercase;
    border: 3px solid currentColor;
    padding: 0.5rem 1rem;
}
.btn.book {
    max-width: 100%;
    width: max(30%, 16ch);
    /* width: max-content; */
    text-align: center;
}
.btn.book:hover {
    color: #fff;
    background-color: #87855c;
    border-color: #87855c;
}

/* azienda: img-txt sections */
.azienda-img-txt {
    max-width: var(--width-max);
    margin-inline: auto;
    margin-block: var(--step-6);
    align-items: center;
}
@media (min-width: 700px) {
    .azienda-img-txt.swap > .content {
        order: -1;
    }
}

/* Unique Elements */
/* Photo potager recadrage */
img[src="/assets/images/vnGqJC_t4o-480.webp"] {
    object-position: 50% 61%;
}

/* Shadow scroll */
.scroll-shadows-horizontal {
    /* display: flex; */
    /* height: auto; */
    /* overflow-x: auto;
  overflow-y: hidden; */
    /* scrollbar-width: none; */
    /* scrollbar-color: white currentcolor; */
    background-image:
        linear-gradient(to right, white, white),
        linear-gradient(to right, white, white),
        linear-gradient(to right, rgba(0, 0, 0, 0.25), rgba(255, 255, 255, 0)),
        linear-gradient(to left, rgba(0, 0, 0, 0.25), rgba(255, 255, 255, 0));
    background-position:
        left center,
        right center,
        left center,
        right center;
    background-repeat: no-repeat;
    background-color: white;
    background-size:
        20px 100%,
        20px 100%,
        10px 100%,
        10px 100%;
    background-attachment: local, local, scroll, scroll;
}
